:root {
    --primary-color: #DE6639;
    --light-primary: #E0913E;
    --lightest-color: #F9E2aE;
    --secound-color: #3F4F8D;
    --light-secondary: #C08972;

}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    background-color: var(--lightest-color);
}

button {
    all: unset;
    cursor: pointer;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 16px;    /* 1.5rem / 1rem */
    background-color: var(--primary-color);
    color: var(--lightest-color);
    text-shadow: 2px 2px 0px var(--secound-color); 
    position: fixed;   

}

#search-container {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 50%;
    justify-content: flex-end;
    
   
}

header > h2 > i {
    margin-right: 0.3rem;
    
}

.movie-name-wrapper {
    width: 65%;
    display: flex;
    align-items: center;
    
}

.movie-year-wrapper {
    display: flex;
    align-items: center;
    
}

#search-button {  
    width: 5%;  
    all: unset;
    padding: 0.2rem 0.4rem;
    border: 1.5px solid #3F4F8D;
    border-radius: 10px;
    background-color: #fff;
    color: #3F4F8D;
    font-weight: 900;
    cursor: pointer;

    
}

.movie-year-wrapper > input {
    max-width: 8rem;
    margin: 0 0.5rem;
    border-radius: 3px;
    border: none;
    padding: 0.3rem 0.2rem;
    font-weight: bold;

}

.movie-name-wrapper > input {
    width: 100%;
    margin: 0 0.5rem;
    border-radius: 3px;
    border: none;
    padding: 0.3rem 0.2rem;
    font-weight: bold;
}

.movie-name-wrapper > label, .movie-year-wrapper > label {
    font-weight: 800;
    
}

#search-button:hover, #search-button:focus { 
    background-color: var(--lightest-color)    
    
}

main {
    text-align: center;
    padding: 2rem 0;
    background-color: var(--lightest-color);
    color: var(--primary-color);
    flex-grow: 1; 
    margin-top: 90px;   

}

#movie-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin-top: 1rem;
}

#movie-list article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#movie-list article > img {
    border-radius: 8px;
    margin-bottom: 0.5rem;
}

.remove-button {
    border: 3px solid var(--primary-color);
    padding: 0.3rem 0;
    width: 100%;
    border-radius: 10px;
    font-weight: 700;
    box-shadow: 1px 1px 10px black;
    color: var(--light-secondary);
}

.remove-button:hover, .remove-button:focus {
    background-color: #E0913E;
    color: #F9E2aE;
    transition: 0.2s;
}

